.bar{
    color: #181818;
    width: calc(100%-130px);
    top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 30px;
    /* position: fixed; */
    background-color: #FFFFFF;
}
.bar .title{
    font-size: 30px;
}
.backimg{
    background-image: url('../img/backimg.jpg'); 
    background-repeat:no-repeat; 
    background-position: 50% 1px; 
    background-size: 98% auto; 
    height: 320px;
    text-align: center;
    padding-top: 5%;
}
.backimg h1{
    color: white;
}